#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DVOR 0
#define SHI 1
#define LEF 2
#define NUM 3
#define NAV 4
#define SYMBO 5
#define MEDI 6


&lt {
    tapping-term-ms = <110>;
    flavor = "hold-preferred";

};

&mt {
    tapping-term-ms = <110>;
    flavor = "hold-preferred";
};

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp TAB         &lt LEF SQT     &lt NUM COMMA   &lt NAV DOT &kp P   &kp Y   &kp F   &kp G  &kp C     &kp R   &kp L    &kp BSLH
   &kp LCTRL       &kp A       &kp O       &kp E   &kp U   &kp I   &kp D   &kp H  &kp T     &kp N   &kp S &kp ENTER
   &mt LSHIFT ESC      &sk LSHIFT  &kp Q       &kp J   &kp K   &kp X   &kp B   &kp M  &kp W &kp V &lt SYMBO Z &lt MEDI SLASH 
                &kp LALT    &kp LGUI   &kp SPACE       &kp EQUAL       &kp BSPC    &kp DEL
                        >;
                };
                shi_layer {
                        label = "SHI";
                        bindings = <
   &trans &trans &trans &trans &kp LS(P) &kp LS(Y) &kp LS(F) &kp LS(G) &kp LS(C) &kp LS(R) &kp LS(L) &trans 
   &trans &kp LS(A) &kp LS(O) &kp LS(E) &kp LS(U) &kp LS(I) &kp LS(D) &kp LS(H) &kp LS(T) &kp LS(N) &kp LS(S)  &trans 
   &trans &mt LSHIFT EXCL &kp LS(Q) &kp LS(J) &kp LS(K) &kp LS(X) &kp LS(B) &kp LS(M) &kp LS(W) &kp LS(V) &mt RSHIFT LS(Z) &trans 
   &trans &trans &trans &trans &trans &trans &trans 
                        >;
                };
                left_layer {
                        label = "LEF";
                        bindings = <
   &trans   &trans      &kp DQT  &kp GRAVE  &kp UNDER   &kp TILDE   &trans  &trans  &trans  &trans  &trans  &trans
   &trans   &trans      &trans  &trans      &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
   &trans   &trans      &trans  &trans      &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
   &trans   &trans      &trans  &trans      &trans      &trans
                        >;
                };
                num_layer {
                        label = "NUM";
                        bindings = <
   &trans   &kp DQT   &trans  &trans      &kp MINUS   &kp STAR    &kp DOLLAR  &kp N7  &kp N8  &kp N9   &kp N6  &trans
   &trans   &trans      &trans  &trans      &kp SLASH   &kp CARET   &kp PERCENT &kp N2  &kp N3  &kp N4   &kp N5  &trans
   &trans   &trans      &trans  &trans      &trans      &trans      &kp AMPS    &kp N1  &kp N0  &kp PLUS &trans  &trans
   &trans   &trans      &trans  &trans      &trans      &trans
                        >;
                };
                nav_layer {
                        label = "NAV";
                        bindings = <
   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &kp HOME    &kp UP      &kp END     &kp PG_UP   &trans
   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT    &kp DOWN    &kp RIGHT   &kp PG_DN   &trans
   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans      &trans      &trans      &trans
   &trans   &trans  &trans  &trans  &trans  &trans
                        >;
                };
                symbol_layer {
                        label = "SYMBO";
                        bindings = <
   &trans   &kp LT          &kp LBKT  &kp RBKT   &kp GT    &trans  &trans  &trans      &trans     &trans      &trans  &trans
   &trans   &kp LBRC        &kp LPAR  &kp RPAR   &kp RBRC  &trans  &trans  &kp SEMI    &kp COLON    &kp DQT     &trans  &trans
   &trans   &lt SHI EXCL    &kp AT    &kp POUND  &kp DLLR  &trans  &trans  &kp LBKT      &kp RBKT      &kp QMARK   &trans  &trans
   &trans   &trans          &trans    &kp ENTER  &trans    &trans
                        >;
                };
                media_layer {
                        label = "MEDI";
                        bindings = <
   &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans     &trans   &trans
   &trans   &kp LS(A)  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans   &kp C_BASS_BOOST   &trans
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &trans  &kp C_MUTE      &kp C_VOL_UP      &kp K_VOL_DN2      &kp LS(Z)      &trans
   &trans   &trans  &trans  &trans  &trans  &trans
                        >;
                };
        };
};
